/** @format */

@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.drum-pad {
	@include flex-center;
	width: $pad-size;
	height: $pad-size;
	background-color: $pad-bg-color;
	border-radius: $border-radius;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
  // user-select: none;
	transition: all 0.1s ease;
  &.active {
    background-color: color.adjust($pad-bg-color, $lightness: 15%);
    transform: scale(0.90);
  }

	&:focus {
    outline: none;
  }
}


