@use 'sass:color';
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

#display {
  @include flex-center;
  width: 200px;
  height: 50px;
  background-color: color.adjust($primary-color, $lightness: -5%);
  border-radius: $border-radius;
  color: $secondary-color;
  font-size: 1.2rem;
  margin: 1rem 0;
  // border: 1px solid $secondary-color;
}